#divone, #divtwo, #divthree{
    font-size: 20px;
    text-align: center;
}

.square{
    margin-top: 200px;
    width: 100%;
    height: 100%;
    position: relative;
    animation-name: animation;
    animation-duration: 5s;
}

@keyframes animation {
    0%   {color:red; top:0px;}
    25%  {color:black; top:100px;}
    50%  {color:red; top:0px;}
    75%  {color:black; top:100px;}
    100% {color:red; top:0px;}
}